<div class="filters" hx-include="#module-filter, #region-filter, .filters select" hx-get="{% url 'dashboard:get_charts'%}" hx-params="*" hx-target="#charts" hx-trigger="change">
      <div class="module-filter my-6">
        <label class="select w-full">
          <span class="label"> Module </span>
        <select name="module" class="select">
          {% for module in modules %}
            <option value="{{ module.name }}" {% if module.name == default_module %} selected {% endif %}>
              {{module.label}}
            </option>
          {% endfor %}
        </select>

        </label>
      </div>
      <div class="filters flex justify-between">
        <label class="select">
          <span class="label"> Regions </span>
          <select name="region" class="select"
            hx-include=".module-filter">
          {% for region in regions %}
            <option value="{{region.code}}" >{{region.name}}</option>
        {% endfor %}
        </select>
        </label>
        {% for module in modules %}
            {% if "Crop" in module.label %}
                {% for filter in module.filters  %}
                <label class="select">
                  <span class="label"> {{filter.name}}  </span>
                  <select name="{{filter.name |lower}}" class="select"
                    hx-include=".module-filter">
                  {% for filter_name in filter.values %}
                    <option value="{{filter_name.code}}" >{{filter_name.label}}</option>
                {% endfor %}
                </select>
                </label>
                {% endfor %}
            {% endif %}
        {% endfor %}
      </div>
</div>
